<div class="sidebar-card mt-4">
        <h4 class="mb-3" i18n>Reseñas</h4>

        @if (cargandoResenas) {
            <p class="text-muted" i18n>Cargando reseñas...</p>
        } @else if (resenas && resenas.length > 0) {

            @for (resena of resenas; track resena.nombreCompleto) {
                <div class="mb-3 pb-3 border-bottom">

                    <!-- Calificación con estrellas -->
                    <div>
                        @for (star of [1,2,3,4,5]; track star) {
                            <i class="bi fs-6"
                               [ngClass]="star <= resena.calificacion ? 'bi-star-fill text-warning' : 'bi-star text-muted'">
                            </i>
                        }
                        <small class="text-muted ms-2">
                            {{ resena.fechaHora }}
                        </small>
                    </div>

                    <!-- Comentario -->
                    <p class="mb-1 mt-2">{{ resena.comentario }}</p>

                        <small class="text-muted">Usuario: {{ resena.nombreCompleto }}</small>
                    
                </div>
            }

        } @else {
            <p class="text-muted" i18n>No hay reseñas para esta sucursal.</p>
        }
    </div>