<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Ristorino</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/restaurantes">Restaurantes</a>
                </li>
            </ul>
            <div class="d-flex align-items-center me-3 flex-grow-1 justify-content-center buscador-container">
                <div class="buscador-header-wrapper">
                    <app-buscador-nlp></app-buscador-nlp>
                </div>
            </div>
            <ul class="navbar-nav">
                @if (isAuthenticated) {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i>
                            @if (usuario) {
                                {{ usuario.nombre }} {{ usuario.apellido }}
                            }
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" routerLink="/mi-perfil">
                                    <i class="bi bi-person-circle"></i> Mi Perfil
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/mis-reservas">
                                    <i class="bi bi-calendar-check"></i> Mis Reservas
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">
                                    <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
                                </a>
                            </li>
                        </ul>
                    </li>
                } @else {
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login">
                            <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>